*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

composer.phar
vendor

.buildpath
.project
.settings
.idea

test/coverage/*
!test/coverage/.gitkeep
.vagrant/
.bash_history
.cache/motd.legal-displayed
.sudo_as_admin_successful
